[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
nltk = "*"
scikit-learn = "*"
ace-sklearn-crfsuite = "0.4.0"
jupyter = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
