[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-crfsuite = "~=0.9.6"
scikit-learn = "~=1.1.1"
tabulate = "~=0.8.9"
tqdm = "~=4.64.0"

[dev-packages]
pytest = "~=7.1.2"
coverage = "*"

[requires]
python_version = "3.10"
